{% extends 'base.html.twig' %}

{% block title %}Application EduSchool{% endblock %}

{% block body %}

    <div class="center">

        <h1 class="carlito-bold">Accueil de l'application EduSchool</h1>

        <p class="carlito-regular">
            {% if app.user %}
                Bonjour, {{ app.user.prenom }}.
            {% else %}
                Bonjour, vous n'êtes pas connecté.
            {% endif %}
        </p>


    </div>



{% endblock %}
