{% extends 'base.html.twig' %}

{% block title %}Application EduSchool{% endblock %}

{% block body %}

    <h1>Application EduSchool</h1>

    <ul>
        <li>
        </li>

        <li>
        </li>
    </ul>

{% endblock %}
